---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Stratégies de communication</h2>
		<p>Définir et mettre en oeuvre un plan de communication interne et/ou externe.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Créations graphiques</h2>
		<p>Faire connaître l'association par le biais de flyers, d'affiches, de plaquettes, de newsletters, de rapports d'activité, etc.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="instagram-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Réseaux sociaux et site internet</h2>
		<p>Développer la visibilité de l'association en créant du contenu.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="list" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Événements</h2>
		<p>Élaborer un plan de travail, contacter les prestataires de services, veiller au bon déroulement des opérations le jour J, etc.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="paper-plane-tilt" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Relations presse</h2>
		<p>Médiatiser les actions et les événements de l'association dans la presse locale et/ou régionale.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="moon-stars" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Veille numérique</h2>
		<p>Assurer une veille sur les actions et les actualités susceptibles de concerner l'association et son rayonnement.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
